{% extends 'base.html' %}
{% load staticfiles %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'workoutvideos/css/video.css' %}">
{% endblock %}

{% block content_block_left %}
  <div class="container">
    <div id="action-name" class="top-left">Hellooo</div>
    <div id="action-time" class="centered">Centered</div>
    <video id="myVideo" width="420" height="315" class="video-js vjs-default-skin" onplay="startCountdown()" onpause="pauseCountdown()" autoplay controls>
      <source src="{{current_video.videofile.url}}" type="video/mp4">
    </video>
  </div>
  <br>

  {% if current_workoutset %}
  <p>{{ current_workoutset.name}}</p>
  {% endif %}

  {% if next_workoutset_exists %}
  <button type="button" class="btn btn-success">
    <a class="text-white" href="{% url 'workouts:play_next' workout_pk=workout.id workoutset_pk=next_workoutset_pk %}">
      Next WorkoutSet
    </a>
  </button>
  {% else %}
    <button type="button" class="btn btn-warning">
      <a class="text-white" href="{% url 'workouts:list' %}">
        Go Back to Workouts
      </a>
    </button>
  {% endif %}

{% endblock %}


<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script> -->

{% block script_block %}
  <script>
    var data = [];
    $.ajax({
      method: 'GET',
      url: "{% url 'workouts:api_get_actions' workoutset_id=workout.workoutsets.all.first.id %}",
      success: function(actions){
        console.log(actions);
        actions.forEach(function(e,i,a){
          data.push({"type":e.fields.action_type, "duration":e.fields.duration});
        });
      }
    });

    var timesets = data;

    var action_name = document.getElementById("action-name");
    var action_time = document.getElementById("action-time");


    var currentsec = 5;
    var currentaction = "Get Ready!";
    var currenttimeset_iteration = 0;
    var interval;

    action_name.innerHTML = currentaction;

    function startCountdown(){
      interval = setInterval(function(){
        countdown();
      },1000);
    }

    function countdown(){
      checktime();
      action_name.innerHTML = currentaction;
      action_time.innerHTML = currentsec;
      console.log(currenttimeset_iteration);
      console.log(currentsec);
      console.log(currentaction);
      currentsec-= 1;
    }

    function checktime(){
      if(currentsec == 0){
        currentaction = timesets[currenttimeset_iteration].type;
        currentsec = timesets[currenttimeset_iteration].duration;
        currenttimeset_iteration++;
      }
    }

    function pauseCountdown(){
      clearInterval(interval);
    }

  </script>
  <!-- <script src="{% static 'workoutvideos/js/myvideo.js' %}"></script> -->
  <script type='text/javascript'>

      document.getElementById('myVideo').addEventListener('ended',myHandler,false);
      function myHandler(e) {
          // What you want to do after the event
          {% if next_workoutset_exists %}
          location.href = "{% url 'workouts:play_next' workout_pk=workout.id workoutset_pk=next_workoutset_pk %}";
          {% else %}
          location.href = "{% url 'workouts:list' %}"
          {% endif %}
      }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $.ajax({
        method: 'GET',
        url: "{% url 'workouts:api_get_video' workoutset_pk=workout.workoutsets.all.first.id %}",
        // url: '/api/video/for/workoutset/{{workout.workoutsets.all.first.id}}/',
        success: function(data){
          var src = document.getElementById('js-video-src');
          //src.setAttribute('src',data)
          console.log(data);
        }
      });
    });

  </script>
{% endblock %}
